<!DOCTYPE html>
<html lang="<venda_block mode=value,<venda_sessionlanguage>=ae>en-US</venda_block><venda_block mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block>">
<head>

<venda_inctemplate name=css,type=mainIncludes>
<venda_inctemplate name=js,type=mainIncludes>


</head>
<body class="main-1column">


<p class="hide"><a href="#content"><venda_text id=site.skip_to_content></a></p>

<div id="wrapper">

	
	<div id="homeContent" class="main-1column home">
		<a name="content" id="content"></a>
		<div id="wrapperHome">
		
		<venda_content>

		</div>
	</div><!-- end #main-1column -->
	
</div><!-- end #wrapper -->



</body>
</html>
